<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newsscraper.mapper.NewsMapper">

    <insert id="insertNews" parameterType="NewsDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO collected_news (keyword_id, title, link, summary, published_at, source_site)
        VALUES (#{keywordId}, #{title}, #{link}, #{summary}, #{publishedAt}, #{sourceSite})
    </insert>

    <select id="findNewsByUserId" parameterType="long" resultType="NewsDTO">
        SELECT cn.id, cn.keyword_id, cn.title, cn.link, cn.summary, cn.published_at, cn.source_site, cn.created_at
        FROM collected_news cn
        JOIN keywords k ON cn.keyword_id = k.id
        WHERE k.user_id = #{userId}
        ORDER BY cn.published_at DESC
    </select>

    <select id="countByLink" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM collected_news WHERE link = #{link}
    </select>

</mapper>